
<!-- <div *ngIf="bool">Default</div>
<ng-template *ngIf="bool">
  inside angular template
</ng-template> -->
<!-- <div *ngFor="let l of list">{{l}}</div> -->
<!-- <ng-template [ngFor]="let l of list">{{l}}</ng-template> -->
<!-- <ng-template ngFor let-l [ngForOf]="list">{{l}}</ng-template> -->

<!-- <ng-container>
  <div>container 1</div>
  <div>container 2</div>
  <div>container 3</div>
</ng-container> -->
<!-- <button (click)="openPopup()">Open Popup</button> -->


<!-- <div *ngTemplateOutlet="header">ffffff</div>



<ng-template #header><h1>Header</h1></ng-template>
<ng-template #footer><h1>Footer</h1></ng-template>
<ng-template #body><h5>Body</h5></ng-template> -->


<div id="div1">sandeep</div>